{# templates/security/forgot_password_request.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Mot de passe oublié</h1>

    {{ form_start(requestForm) }}
        <div class="mb-3">
            {{ form_label(requestForm.email, 'Votre adresse email') }}
            {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button class="btn btn-primary">Envoyer l'email de réinitialisation</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}