{# templates/security/reset_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

        {# Ajouter le token dans un champ caché #}
        <input type="hidden" name="_token" value="{{ token }}">
        
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}