{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier une ressource</h1>

   <div style="color: var(--text-color);">
     {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-3">Enregistrer</button>
        <a href="{{ path('app_suivi_ressources', {id: ressource.projet.id}) }}" class="btn btn-secondary mt-3">Annuler</a>
    {{ form_end(form) }}
   </div>
</div>
{% endblock %}
