<form method="post" action="{{ path('app_group_delete', {'id': group.id}) }}" 
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce groupe ?');"
      class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="fas fa-trash"></i>
    </button>
</form>