{% extends 'base.html.twig' %}

{% block title %}Modifier {{ group.name }}{% endblock %}

{% block body %}
    <h1>Modifier le groupe "{{ group.name }}"</h1>
    {{ include('group/_form.html.twig') }}
{% endblock %}