{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

     <div class="text-center mb-5 mt-5">
                        <img src="dashb.png" alt="Équipe ProjectFlow" class="img-fluid rounded" >
            </div>

{% endblock %}