{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Your Dashboard</h1>
    <p>Welcome back, {{ app.user.username }}!</p>
    
    <!-- Ajoutez ici le contenu de votre tableau de bord -->
    <div class="mt-4">
        <a href="{{ path('app_authenticator_pair') }}" class="btn btn-primary">Configure 2FA</a>
    </div>
</div>
{% endblock %}