{# article/_delete_form.html.twig #}
<form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" 
      class="d-inline"
      onsubmit="confirmDelete(event, 'Êtes-vous sûr de vouloir supprimer définitivement cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash-alt me-1"></i> Supprimer
    </button>
</form>